<ion-content>
  <ion-list>
    <ion-router-link routerLink="/general-info">
    <ion-card>
      <img alt="Silhouette of mountains" src="../assets/icon/icons/6920932-ai.png" />
      <ion-card-header>
        <ion-card-title>General info </ion-card-title>
      </ion-card-header>
    </ion-card>
    </ion-router-link>
    <ion-card>
      <img alt="Silhouette of mountains" src="../assets/icon/icons/new-img.png" />
      <ion-card-header>
        <ion-card-title>Statutory Document</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="../assets/icon/icons/judge_153097.png" />
      <ion-card-header>
        <ion-card-title>Faculty Details</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="../assets/icon/icons/6920932-ai.png" />
      <ion-card-header>
        <ion-card-title>Infrastructure</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="../assets/icon/icons/file_2148298808.png" />
      <ion-card-header>
        <ion-card-title>Equipment</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="../assets/icon/icons/stack-books_2148868267.png" />
      <ion-card-header>
        <ion-card-title>Library</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="../assets/icon/icons/document_157943.png" />
      <ion-card-header>
        <ion-card-title>Others</ion-card-title>
      </ion-card-header>
    </ion-card>

    
  </ion-list>
</ion-content>
