<div class="widget shortcut-widget-box " style="max-height: 26%;background:#f4f5f6;">
  <div class="widget-head">
    <div class="widget-label">
      <div class="widget-title">
        <span class="avatar avatar-medium  filterable" title="Test">
          <div class="avatar-frame standard-image"
            style="background-color: #fff; color: var(--green-avatar-color); margin-top: -7px;">
            <svg *ngIf="!image" class="icon  icon-md">
              <use class="" href="#icon-image"></use>
            </svg>
            <img class="avatar-medium" *ngIf="image" [src]="image">
          </div>
        </span>
      </div>
    </div>
    <div class="widget-control form-group">
      <div class="indicator-pill ellipsis blue"*ngIf="!image" style="box-shadow: var(--card-shadow);" (click)="takePicture()">Upload
      </div>
      <div class="indicator-pill ellipsis blue" *ngIf="image" style="box-shadow: var(--card-shadow);" (click)="removePicture()">Remove
      </div>
    </div>
  </div>

</div>