
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-router-link routerLink="/pending-list">
        <ion-card>
          <img alt="Silhouette of mountains" src="../assets/icon/icons/list_28518.png" />
          <ion-card-header>
            <ion-card-title>Pending List</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-router-link>
    
      <ion-card>
        <img alt="Silhouette of mountains" src="../assets/icon/icons/document-ai.png" />
        <ion-card-header>
          <ion-card-title>REPORT</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="../assets/icon/icons/document-ai.png" />
        <ion-card-header>
          <ion-card-title>Inspection List</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="../assets/icon/icons/audit-illustration_86047-232.png" />
        <ion-card-header>
          <ion-card-title>ClaimForm</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
