<ion-header>
  <ion-toolbar>
    <ion-title>
      Recently Visited
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
    <ion-card-header>
      <ion-card-title> PCI-9876</ion-card-title>
      <ion-card-subtitle>last view: 2 min ago</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Suryadatta College of Pharmacy Healthcare and Research SCPHR / PCI-6470
    </ion-card-content>
    <ion-card-content>
      Institute Type: Private
    </ion-card-content>
  
  
    <ion-button fill="clear" (click)="onAcceptButtonClick()">Accept</ion-button>
    <ion-button fill="clear">Reject</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> PCI-9876</ion-card-title>
      <ion-card-subtitle>last view: 2 min ago</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Suryadatta College of Pharmacy Healthcare and Research SCPHR / PCI-6470
    </ion-card-content>
    <ion-card-content>
      Institute Type: Private
    </ion-card-content>
  
  
    <ion-button fill="clear" (click)="onAcceptButtonClick()">Accept</ion-button>
    <ion-button fill="clear">Reject</ion-button>
  </ion-card>

  
</ion-content>
